*
{
    padding: 0;
    margin: 0;
}

body
{
    background: #000000;
}

nav 
{
    z-index: 10;
    position: fixed;
    background: #474747;
    width: 100%;
    height: 50px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav a {
    padding: 0 20px;
}

.links li 
{
    list-style: none;
    display: inline;
}

.links li a 
{
    text-decoration: none;
    color: #000000;
}

.links li a:hover
{
    color: #8c8c8c;
    transition: 0.5s;
}

.banner h1 
{
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 130px;
    color: #000000;
    font-size: 5em;
}

.banner figure img
{
    position: relative;
    top: 35px;
    width: 100%;
    height: 300px;
    filter: grayscale(100%) brightness(0.3) blur(2px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

main
{
    margin: 0 30px;
    color: #8c8c8c;
    position: absolute;
    top: 400px;
    height: 680px;
    overflow: scroll;
}

.top 
{
    top: 370px;
}

.bottom
{
    top: 1110px;
}

.title
{
    position: absolute;
    width: 80%;
    left: 10%;
    align-content: center;
}

.title hr
{
    filter: blur(2px);
}

.title h1
{
    z-index: 1;
    position: relative;
    color: #8c8c8c;
    background: #000000;
    top: -20px;
    left: 100px;
    width: fit-content;
    padding: 0 10px 0 10px;
}

.gallery
{
    background: #474747;
    width: 19.99999%;
    float: left;
    overflow: hidden;
    margin: 20px 30px;
    transition: 0.5s;
}

.gallery:hover
{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 20px #474747, 20px 20px 50px #474747;
}

.gallery img
{
    width: 100%;
    height: auto;
    filter: grayscale(0.5) brightness(0.5);
}

footer 
{
    position: absolute;
    top: 1150px;
    width: 100%;
    height: 100px;
    background: #474747;
    text-align: center;
}

footer ul li
{
    position: relative;
    display: inline;
}

footer ul li h1
{
    display: inline;
    position: relative;
    text-align: center;
    margin: 50px 20px;
}

footer ul li a 
{
    text-decoration: none;
    color: #000000;
    font-size: 50px;
    top: 10px;
    position: relative;
}

footer ul li a:hover
{
    transform: translate(-10px, -10px);
}

footer ul li p
{
    display: block;
    position: relative;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #474747;
}

::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
}

::-webkit-scrollbar-corner
{
    background: #000000;
}